<?xml version="1.0"?>

<model>
  <name>Modèle projet</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>FabienVérité</name>
    <email>fabien.verite@sorbonne-universite.fr</email>
  </author>

  <description>
    Model for student project
  </description>
</model>
